<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<div style="width:400px; height:auto;">
  <% if @user.image %>
  <%= link_to image_tag(@user.image, style: 'width 100%'), users_path rescue nil%>
  <% end %>
</div>


<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
